.App {
  text-align: center;
}
body {
  /*
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  */
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}
h1 {
  font-family: "Roboto Mono", monospace;
  font-size: 100px;
  color: cyan;
}
